<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Base Script</title>
  <script type="module" crossorigin src="/static/js/index.cbdf6b03.js"></script>
  <link rel="stylesheet" href="/static/js/index.19c5fb09.css">
</head>

<body>
  <main class="main p-3 pt-4">
    <h3>{{data}}</h3>
    <a href = "/insert_picture">return</a>
  </main>
</body>
</html>